
<div>
  <h2>Teams for <%= current_user.show_game %></h2>
  <table class="table table-dark table-hover table-borderless table-sm">
    <thead>
      <tr>
        <th scope="col">Team Name</th>
        <th scope="col">Game Title</th>
        <th scope="col">User</th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= link_to team.name, team_path(team) %></td>
          <td><%= team.game.title %></td>
          <td><%= team.user.email.split('@').first.capitalize %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Create Team', new_team_path, class: "btn btn-outline-dark" %>
</div>



