<div class="team-cards">
  <% @teams.each do|team| %>
  <!-- <a href="<%= team_positions_path(team) %>"> --></a>
    <%= link_to team_positions_path(team) do %>
      <div class="team-card" >
        <div class="team-player-roster-card">
          <% team.positions.each do |position| %>
          <h2><%= position.position_name.name %></h2>
          <p>
            <% if position.user.nil? %>
              APPLY NOW
            <% else %>
              <%= position.user.nickname %></p>
            <% end %>
          <% end %>
        </div>
        <div class="team-name-card"><%= team.name %></div>
        <div class="team-region-card">Europe</div>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to 'Create Team', new_team_path, class: "btn btn-outline-dark btn-padding" %>
