<div class="d-flex align-items-center py-3">
  <div class="category">
  <div class="p-2 bg-gradient-dark mr-5"><strong>FILTER BY</strong></div>
  <div class="p-2 bg-gradient-dark mr-5">REGION <i class="fas fa-caret-down"></i></div>
  <div class="p-2 bg-gradient-dark mr-5">RANK <i class="fas fa-caret-down"></i></div>
  <div class="p-2 bg-gradient-dark mr-5"><strong>SEARCH</strong></div>


  <%= form_tag teams_path, method: :get, class: "form-inline my-form" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "ENTER TEAM NAME",
      autocomplete: "off"
    %>
  <% end %>
  </div>
</div>
<div class="team-cards">
  <% @teams.each do |team| %>
  <!-- <a href="<%= team_positions_path(team) %>"> --></a>
    <%= link_to team_positions_path(team) do %>
      <div class="team-card <%= current_user.nil? ? "team-card-dota" : current_user.show_game == "1" ? "team-card-dota" : "team-card-csgo" %> " style="background-image: url('<%= cl_image_path team.photo.key %>')">
        <div class="team-player-roster-card">
          <% team.positions.each do |position| %>
          <h2><%= position.position_name.name %></h2>
          <p>
            <% if position.user.nil? %>
              APPLY NOW
            <% else %>
              <%= position.user.nickname %></p>
            <% end %>
          <% end %>
        </div>
        <div class="team-name-card"><%= team.name %></div>
        <div class="team-region-card">Europe</div>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_team_path do %>
    <div class="team-card <%= current_user.nil? ? "team-card-dota" : current_user.show_game == "1" ? "team-card-dota" : "team-card-csgo" %>" style="background-image: url(<%= asset_path("white_plus.png")%>)" >
      <div class="team-player-roster-card">
      </div>
      <div class="team-name-card">Create your team</div>
    </div>
  <% end %>
</div>
