  <div class="container-top">

    <div class="top-left">
      <% if @team.captain?(current_user) %>
        <%= link_to new_team_position_path(@team.id) do %>
          <div class="team-positions-index-button">CREATE A POSITION </div>
        <% end %>
        <%= link_to create_default_positions_path(team_id: @team.id), method: :post do %>
          <div class="team-positions-index-button">DEFAULT POSITIONS</div>
        <% end %>
        <%= link_to delete_all_positions_path(team_id: @team.id), method: :post do %>
          <div class="team-positions-index-button">DELETE ALL POSITIONS</div>
        <% end %>
        <%= link_to team_pending_applications_path(@team) do %>
          <div class="team-positions-index-button">REVIEW APPLICATIONS</div>
        <% end %>
      <% else %>
      <% end %>
    </div>
    <div class="top-center">
      <%= cl_image_tag @team.photo.key, height: 200, width: 200, crop: :fill, class: "team-logo", alt: "team logo" %>
    </div>

    <div class="top-right">
      <%= image_tag "dota-rank11.png", height: 150, width: 150 %>
    </div>
  </div>

  <h2 class="team-name"><%= @team.name.upcase %></h2>
  <div class='cards-player'>
    <% @positions.each do|position| %>
      <div class="card-wrapper-player">
        <% if position.user.nil? %>
          <div class="position-empty-card">
            <h2>EMPTY SLOT</h2>
            <p><%= position.position_name.name %></p>
            <% if @applied.include?(position.id) %>
              <div class="player-button-black ml-5">APPLIED</div>
            <% else %>
              <%= link_to team_pending_applications_path(@team, position_id:position.id), method: :post do %>
                <div class="player-button-orange ml-5">APPLY</div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="card-wrapper-player-flex">
            <%= link_to root_path do %>
              <div class="avatar-square-player">
                <% if position.user.photo.attached? %>
                  <%= cl_image_tag position.user.photo.key, height: 150, width: 150, crop: :thumb, gravity: :face %>
                <% else %>
                  <%= image_tag "avatar_logo.jpg", height: 150, width: 150 %>
                <% end %>
              </div>
            <% end %>
            <div class="card-position">
              <h3><%= position.user.nickname %></h3>
              <br>
              <p>
                <% if current_user.show_game == "2" && position.user.position_name.name == "Jungler" %>
                  Playmaker
                <% else %>
                  <%= position.user.position_name.name %></p>
                <% end %>
              <div class="card-buttons">
                <% if @team.captain?(current_user) %>
                  <%= link_to team_position_path(@team, id:position.id), method: :put do %>
                    <div class="player-button-orange">REMOVE</div>
                  <% end %>
                  <%= link_to team_position_path(@team.id, position.id), method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                    <div class="player-button-black">DELETE</div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="card-position-image">
              <% if position.user.rank.game.id == 1 %>
                <%= image_tag position.user.rank.image, height: 50, width: 50, crop: :fill %>
              <% else %>
                <%= image_tag position.user.rank.image, height: 25, width: 50, crop: :fill %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<br><br>

  <div class="chat">
    <div><%= link_to "CREATE A CHAT ROOM", new_team_room_path(@team.id), class: "btn btn-dark btn-lrg" %></div>
  </div>
    <% if @rooms.present? %>
      <% @rooms.each do |room| %>
        <div class="chat-rooms-list">
        <%= link_to room.name, team_room_path(@team, room), class: "nav-link room-nav-link" %>
         <%= link_to "Delete room", team_room_path(@team.id, room.id),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
                </div>
      <% end %>
  <% else %>
    <div class="chat-rooms-list">
      <p id="chat-rooms-empty-list">Create your first team chat room!</p>
    </div>
  <% end %>
  <br><br> <br><br>
</div>
