<h1>Positions for <%= @team.name %></h1>
<h3><%= link_to "Create a new position", new_team_position_path(@team.id) %></h3>
<ol>
  <% @positions.each do |position| %>
    <li>
      <p><%= position.position_name.name %>
      <% if position.user.nil? %>
        <strong>
        <%= link_to 'APPLY', pending_applications_path(position.id), method: :post %>
        </strong>
      </p>
        <p>Position still empty </p>
      <% else %>
        <p><%= position.user %></p>
      <% end %>
        <p><%= link_to "Delete position", team_position_path(@team.id, position.id),
        method: :delete,
        data: { confirm: "Are you sure?" } %></p>
    </li>
  <% end %>
</ol>

<%= link_to "Back to teams (this needs changing, when team show is implemented)", teams_path %>
