<div class="navbar-find">
  <!-- left section -->
  <div class="left-logo">
    <%= link_to root_path, class: "navbar-brand" do %>
      <% if current_user.nil? || current_user.show_game == "1" %>
          <%= image_tag "find_logo_dota2_transparent.png", height: 65, width: 151, crop: :fill %>
        <% elsif current_user.show_game == "2" %>
          <%= image_tag "find_logo_csgo_transparent.png", height: 65, width: 151, crop: :fill %>
      <% end %>
    <% end %>
  </div>


  <!-- middle section -->
  <div class="text-center">
    <% if user_signed_in? %>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag(current_user.photo.key, class: "avatar-new dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width: 70, height: 70, crop: :fill, gravity: :face) %>
      <% else %>
        <%= image_tag "avatar_logo.jpg", class: "avatar-new dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>

      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "Your Profile", player_path(current_user), class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>

      <ul class="nav nav-tabs d-flex <%= current_user.show_game == "1" ? "dota" : "csgo" %> ">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Teams", teams_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Players", players_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Players", players_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Players", players_path, class: "nav-link" %>
        </li>
      </ul>
    <% else %>
    <div class="d-flex">

      <%= link_to "Login", new_user_session_path, class: "nav-link" %>

    </div>

    <% end %>
  </div>

  <!-- right section -->

  <div class="game-logo">
    <% if current_user.nil? || current_user.show_game == "1" %>
        <%= image_tag "dota2_logo.png", height: 75, width: 120, crop: :fill %>
      <% elsif current_user.show_game == "2" %>
        <%= image_tag "csgo_logo.png" %>
    <% end %>
  </div>

</div>






