
<div class="game-selector-opaque">
</div>
<div class="game-selector-mask">
  <div class="all-games">
    <div class="games-selector" id="dota2">
      <%= image_tag 'dota2_red.png', height: 100, width: 180, crop: :fill %>
    </div>
    <div class="games-selector" id="csgo">
      <%= image_tag 'csgo_white.png', height: 100, width: 300, crop: :fill %>
    </div>
    <div class="games-selector" id="overwatch">
      <%= image_tag 'overwatch.png', height: 100, width: 200, crop: :fill %>
    </div>
  </div>
</div>
<div class="game-description">
  <div class="select-this-game" id="no-game-selected">
    <h1>Please select a game</h1>
  </div>
  <div class="select-this-game" id="select-cs">
    <h1>Counter-Strike: Global Offensive</h1>
    <p>The classic first-person shooter, which has withstood the test of time. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ... The first word, “Lorem,” isn't even a word; instead it's a piece of the word “dolorem,” meaning pain, suffering, or sorrow.</p>
    <p><%= link_to "Explore all CS:GO teams and players", set_user_team_path(game: Game.find_by(title: "CS: GO").id), method: :post %></p>
  </div>
  <div class="select-this-game" id="select-overwatch">
    <h1>Overwatch 2</h1>
    <p>An amazing new game from Blizzard that takes FPS to a new dimension. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ... The first word, “Lorem,” isn't even a word; instead it's a piece of the word “dolorem,” meaning pain, suffering, or sorrow.</p>
    <p><%= link_to "Explore all Overwatch 2 teams and players", set_user_team_path(game: Game.find_by(title: "Overwatch").id), method: :post %></p>
  </div>
  <div class="select-this-game" id="select-dota2">
    <h1>Defence Of The Ancients 2</h1>
    <p>Defence of the ancient is the greatest MOBA game of all times and by far the one with the biggest prize funds. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ... The first word, “Lorem,” isn't even a word; instead it's a piece of the word “dolorem,” meaning pain, suffering, or sorrow.</p>
    <p><%= link_to "Explore all Dota2 teams and players", set_user_team_path(game: Game.find_by(title: "Dota2").id), method: :post %></p>
  </div>
  <div class="home-video-wrapper" id="home-video-wrapper-id">
    <%= video_tag @video, autoplay: true, loop: true, muted: true, controls: false, class: "home_video" %>
  </div>
</div>
