

<div>
  <table class="table table-dark table-hover table-borderless table-sm">
    <thead>
      <tr>
        <th scope="col">Appl Number</th>
        <th scope="col">Position</th>
        <th scope="col">User</th>
        <th scope="col">User Approval</th>
        <th scope="col">Captain Approval</th>
        <th scope="col">Approve (Captain)</th>
        <th scope="col">Approve (Player)</th>
      </tr>
    </thead>
    <tbody>
      <% @pending_applications.each do |application| %>
        <tr>
          <td><%= application.id %></td>
          <td><%= application.position.position_name.name %></td>
          <td><%= application.user.email %></td>
          <td><%= application.user_approval %></td>
          <td><%= application.owner_approval %></td>
          <% if @is_captain %>
            <% if application.owner_approval == false %>
              <td><%= button_to 'Approve', captain_approve_path(team_id:@team.id, id:application.id), method: :post %></td>
            <% end %>
          <% elsif application.user_approval == false %>
            <td>PLAYER APPROVE</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
