  <div class="cards-main-player">

  <div class="d-flex">

    <div class="p-2 bg-info flex-fill">FILTER BY</div>
    <div class="p-2 bg-warning flex-fill">POSITION</div>
    <div class="p-2 bg-primary flex-fill">RANK</div>


    <%= form_tag players_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a player",
        autocomplete: "off"
      %>
      <%= submit_tag "SEARCH", class: "btn btn-outline-dark" %>
    <% end %>

  </div>


    <div class="cards-player" >
      <% @players.each do|player| %>
        <div class="card-wrapper-player">
          <div class="card-wrapper-player-flex">
            <div class="avatar-square-player">
            <% if player.photo.attached? %>
              <%= cl_image_tag player.photo.key, height: 140, width: 140 %>
            <% else %>
              <%= image_tag "avatar_logo.jpg", height: 140, width: 140 %>
            <% end %>
            </div>
            <div class="card-position">
              <h3><%= player.position_name.name %></h3>
              <p><%= player.nickname %></p>
              <div class="card-buttons">
                <%= link_to "PROFILE", player_path(player), class: "button-card" %>
                <%= link_to "INVITE", create_invitation_path(player: player.id, game_id: player.game, position: player.position_name), class: "button-card button-card-black" %>
              </div>
            </div>
              <%= image_tag player.rank.image, height: 50 , width: 50 %>
            <div class="card-position-image">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
