    <div class="d-flex align-items-center py-3">
      <div class="category">
      <div class="p-2 bg-gradient-dark mr-5"><strong>FILTER BY</strong></div>
      <div class="p-2 bg-gradient-dark mr-5">POSITION <i class="fas fa-caret-down"></i></div>
      <div class="p-2 bg-gradient-dark mr-5">RANK <i class="fas fa-caret-down"></i></div>
      <div class="p-2 bg-gradient-dark mr-5"><strong>SEARCH</strong></div>


      <%= form_tag players_path, method: :get, class: "form-inline" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "ENTER NICKNAME",
          autocomplete: "off"
        %>
      <% end %>
      </div>
    </div>
  <div class="cards-main-player">

    <div class="cards-player" >
      <% @players.each do|player| %>
        <div class="card-wrapper-player">
          <div class="card-wrapper-player-flex">
            <%= link_to player_path(player) do %>
              <div class="avatar-square-player">
                <% if player.photo.attached? %>
                  <%= cl_image_tag player.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
                <% else %>
                  <%= image_tag "avatar_logo.jpg", height: 150, width: 150 %>
                <% end %>
              </div>
            <% end %>
            <div class="card-position">
              <h3><%= player.nickname %></h3>
              <br>
              <p><%= player.position_name.name %></p>
              <div class="card-buttons">
                <%= link_to create_invitation_path(player: player.id, game_id: player.game, position: player.position_name) do %>
                  <div class="player-button-orange">INVITE</div>
                <% end %>
                <%= link_to player_path(player) do %>
                  <div class="player-button-black">BROWSE</div>
                <% end %>
              </div>
            </div>
            <div class="card-position-image">
              <% if player.rank.game.id == 1 %>
                <%= image_tag player.rank.image, height: 50, width: 50, crop: :fill %>
              <% else %>
                <%= image_tag player.rank.image, height: 25, width: 50, crop: :fill %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



