<div class="player-wrapper-avatar">
  <div class="player-avatar-big">
  <% if @player.photo.attached? %>
    <%= cl_image_tag @player.photo.key, height: 195, width: 195, crop: :fill %>
    <% else %>
    <%= image_tag "avatar_logo.jpg" , height: 195, width: 195, crop: :fill %>
  <% end %>
  </div>
  <div class="player-stats">
    <h1>Nickname: <%= @player.nickname %></h1>
    <h3>Position: <%= @player.position_name.name %></h3>
    <h3>Rank: <%= @player.rank.name %></h3>
    <h3>Region: Germany</h3>
  </div>
  <div class="player-rank">
    <%= image_tag @player.rank.image, size: "125x125", class: "avatar-square-player" %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="player-button-orange-large btn">INVITE</div>
  <div class="player-button-orange-large btn">MESSAGE</div>
  <div class="player-button-orange-large btn">STATS</div>
</div>

<div class = "invitation-wrapper" >
  <% unless @pending_applications.size.zero? %>
    <h2>Pending Invitations</h2>
  <% end %>
  <% @pending_applications.each do |pending_application| %>
    <% if pending_application.owner_approval %>
      <div class="invitation-card d-flex align-items-center">
        <div class="invitation-team-image">
          <% if pending_application.position.team.photo.attached? %>
            <%= cl_image_tag player.photo.key, height: 90, width: 90 %>
          <% else %>
            <%= image_tag "void.png", height: 90, width: 90, crop: :fill %>
          <% end %>
        </div>

        <%= link_to pending_application.position.team.name, team_positions_path(pending_application.position.team.id) %>
        <div class="player-button-wrapper d-flex">
          <% if pending_application.position.user.nil? %>
            <%= link_to player_approve_path(id:pending_application.id), method: :post do %>
              <div class="player-button-green">APPROVE</div>
            <% end %>
              <div class="player-button-red">DECLINE</div>
          <% else %>
            <td>TOO LATE - POSTION TAKEN</td>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% unless @pending_applications.size.zero? %>
    <h2>My Applications</h2>
  <% end %>
  <% @pending_applications.each do |pending_application| %>
     <% if pending_application.user_approval %>
      <div class="invitation-card d-flex align-items-center">
        <div class="invitation-team-image m-4">
          <% if pending_application.position.team.photo.attached? %>
            <%= cl_image_tag pending_application.position.  team.photo.key, height: 90, width: 90 %>
          <% else %>
            <%= image_tag "void.png", height: 90, width: 90, crop: :fill %>
          <% end %>
        </div>
        <%= link_to pending_application.position.team.name, team_positions_path(pending_application.position.team.id) %>
        <div class="player-button-wrapper d-flex">
          <%= link_to team_positions_path(pending_application.position.team.id) do %>
            <div class="player-button-green">VIEW</div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
