<td>
  <div class="row justify-content-center">
  <% if @player.photo.attached? %>
    <%= cl_image_tag @player.photo.key, height: 100, width: 100, crop: :fill %>
    <% else %>
    <%= image_tag "avatar_logo.jpg" , height: 100, width: 100, crop: :fill %>
  <% end %>
  </div>
</td>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 col-sm-offset-3">
      <h3>My Profile</h3>
       <h3> <%= @player.nickname %></h3>
       <h3> <%= @player.email %></h3>
       <h3> <%= @player.rank.name %></h3>
    </div>
  </div>
  <br>
  <br>
  <% if @player == current_user %>
    <h1>This is my profile!</h1>
    <h2>Your Teams:</h2>
    <% current_user.teams.each do |team| %>
    <%= link_to team.name, team_positions_path(team.id) %>
    <% end %>
    <h2>Teams that you have been invited to:</h2>
    <table class="table table-dark table-hover table-borderless table-sm">
      <thead>
        <tr>
          <th scope="col">Appl Number</th>
          <th scope="col">Position</th>
          <th scope="col">User</th>
          <th scope="col">User Approval</th>
          <th scope="col">Captain Approval</th>
          <th scope="col">Approve (Player)</th>
        </tr>
      </thead>
      <tbody>
          <% @pending_invitations.each do |invitation| %>
          <tr>
            <td><%= invitation.id %></td>
            <td><%= invitation.position.position_name.name %></td>
            <td><%= invitation.user.email %></td>
            <td><%= invitation.user_approval %></td>
            <td><%= invitation.owner_approval %></td>
            <% if invitation.position.user.nil? %>
              <td><%= button_to 'Approve', player_approve_path(id:invitation.id), method: :post %></td>
            <% else %>
              <td>TOO LATE - POSTION TAKEN</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <br>
  <br>
  <%= link_to "Back to Players", players_path, class: "btn btn-outline-primary" %>
  <br>
  <br>
  <%= link_to "edit", edit_user_registration_path, class: "btn btn-outline-primary" %>
</div>
