
<div class="container">
  <h1 class="chat-room-name">
  <%= @room.name %>
  </h1>
  <div class="chat-messages">
    <% @room_messages.each do |room_message| %>
      <div class="chat-message-container">
        <div>
          <% if room_message.user.photo.attached? %>
            <%= cl_image_tag(room_message.user.photo.key, class: "avatar dropdown-toggle", crop: :fill, gravity: :face) %>
          <% else %>
            <%= image_tag "avatar_logo.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        </div>
        <div class="chat-message-content">
          <div>
            <%= room_message.message %>
          </div>
          <div>
            <small>
              <%= room_message.created_at.strftime('%b %e, %l:%M %p') %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= simple_form_for @room_message do |f| %>
    <div class="input-group mb-3 my-form">
      <%= f.input :message, as: :string,
                               wrapper: false,
                               label: false,
                               input_html: {
                                 class: 'chat-input'
                               } %>
      <div class="input-group-append">
        <%= f.submit "Send", class: 'btn btn-secondary chat-input' %>
      </div>
    </div>
      <%= f.input :room_id, as: :hidden %>
      <%= f.hidden_field :team_id, value: @team.id %>
  <% end %>
</div>
<%= link_to "Back to team", team_positions_path(params[:team_id]), class: "btn btn-secondary ml-3" %>
