<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Find Your Team</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', turbolink_track: true %>
    <%# = stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% if action_name == 'home' %>
      <%= yield %>
    <% else %>
    <% if current_user.show_game == "1" %>
      <div class="tinted-image-dota2">
    <% elsif current_user.show_game == "2" %>
      <div class="tinted-image-cs">
    <% end %>
        <%= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
        <%= yield %>
      <% end %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
